@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: #15141A; */
  background-color: #0a192f;
  color: white;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.75;
}

a,
a:visited {
  color: #FFC875;
  text-decoration: none;
}

.mb-1 {
  margin-bottom: 1rem;
}

.greetings {
  margin-bottom: 0;
}

.text-green {
  color: #1ce967;
}

.name {
  font-size: 3rem;
  font-weight: 600;
}

.socials {
  display: grid;
  grid-template-columns: auto auto auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.socials a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0.5rem;
  color: white;
}
.socials a:first-child {
  margin: 0.5rem 0.5rem 0rem 0.5rem;
}
.socials a:hover {
  color: #FFC875;
}
.btn {
  -webkit-border-radius: 50rem;
  border-radius: 50rem;
  padding: 0.75rem 1.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  transition: 0.2s;
}
.btn-cta {
  border: #FFC875 1px solid;
  color: #FFC875;
}
.btn-cta:hover {
  background-color: rgba(28, 233, 103, 0.2);
}

.btn-resume {
  color: white;
  border: transparent 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50rem;
}
.btn-resume:visited {
  color: white;
}
.btn-resume:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: white;
  color: white;
}

.container {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 15px;
}

.content {
  margin: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.actions {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

.roles {
  margin-bottom: 3rem;
  color: #fff;
  font-weight: 600;
text-transform:capitalize;
}
.gradient-text{
  background: radial-gradient(
    66.11% 66.11% at 50% 33.89%,
    rgba(255, 255, 255, 0.4) 0px,
    rgba(255, 255, 255, 0) 100%
  ),
  linear-gradient(
    278.88deg,
    rgb(255, 255, 255),
    rgb(102, 227, 255) 28.83%,
    rgb(167, 135, 255) 56.31%,
    rgb(255, 200, 117) 86.49%
  );
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}