@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #0a192f;
  color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 1rem; }

p {
  margin-bottom: 1rem;
  line-height: 1.75; }

a,
a:visited {
  color: #1CE967; }

.mb-1 {
  margin-bottom: 1rem; }

.greetings {
  margin-bottom: 0; }

.text-green {
  color: #1CE967; }

.name {
  font-size: 2rem; }

.socials {
  display: grid;
  grid-template-columns: auto auto auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .socials a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0.5rem;
    color: white; }
    .socials a:first-child {
      margin: 0.5rem 0.5rem 0rem 0.5rem; }
    .socials a:hover {
      color: #1CE967; }

.btn-cta {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: #1CE967 1px solid;
  padding: 0.75rem 1rem;
  margin-right: 0.5rem;
  text-decoration: none; }
  .btn-cta:hover {
    background-color: rgba(28, 233, 103, 0.2); }

.btn-cv {
  display: none; }

.container {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 15px; }

.content {
  margin: auto; }

.text-uppercase {
  text-transform: uppercase; }

.actions {
  margin-bottom: 3rem;
  margin-top: 1.5rem; }

.roles {
  margin-bottom: 3rem;
  color: #1CE967;
  text-transform: uppercase; }
